{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="bg-img" class="bg-img h-full-not-header">
  <div class="backdrop">
    <div class="container pt-5 d-flex align-items-start align-items-md-center justify-content-center h-full-not-header">
      <div class="px-4 py-5 title">
        <div class="mx-auto text-start text-md-center">
          <h1 class="display-1 cormorant">Мастерская костюмов Натальи Хэ</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Добро пожаловать в мастерскую уникальных костюмов для акробатики,
              гимнастики и фигурного катания!</p>
            <div class="d-grid gap-2 d-flex justify-content-start justify-content-md-center">
              <button type="button" class="btn btn-outline-black btn-lg px-4">Связаться</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="bg-img" class="bg-img h-full-not-header">
  <div class="backdrop">
    <div class="container pt-5 d-flex align-items-start align-items-md-center justify-content-center h-full-not-header">
      <div class="px-4 py-5 title">
        <div class="mx-auto text-start text-md-center">
          <h1 class="display-1 cormorant">Мастерская костюмов Натальи Хэ</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Добро пожаловать в мастерскую уникальных костюмов для акробатики,
              гимнастики и фигурного катания!</p>
            <div class="d-grid gap-2 d-flex justify-content-start justify-content-md-center">
              <button type="button" class="btn btn-outline-black btn-lg px-4">Связаться</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="bg-img" class="bg-img h-full-not-header">
  <div class="backdrop">
    <div class="container pt-5 d-flex align-items-start align-items-md-center justify-content-center h-full-not-header">
      <div class="px-4 py-5 title">
        <div class="mx-auto text-start text-md-center">
          <h1 class="display-1 cormorant">Мастерская костюмов Натальи Хэ</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Добро пожаловать в мастерскую уникальных костюмов для акробатики,
              гимнастики и фигурного катания!</p>
            <div class="d-grid gap-2 d-flex justify-content-start justify-content-md-center">
              <button type="button" class="btn btn-outline-black btn-lg px-4">Связаться</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}